<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="database.CategoryMapper">
		
	<sql id="accessTypesFilter">
		type IN
		<foreach item="item" index="i" collection="accessTypes" open="(" separator="," close=")">
			#{item}
		</foreach>
	</sql>
		
	<select id="getCategoriesByType" parameterType="Map" resultType="CategoryItem">
		SELECT 
			name, 
			type as typeName 
		FROM category 
		WHERE type = #{typeName}
		AND <include refid="accessTypesFilter"/>
	</select>
	
	<select id="getCategoryByName" parameterType="Map" resultType="CategoryItem">
		SELECT 
			name, 
			type as typeName 
		FROM category 
		WHERE name = #{name}
		AND <include refid="accessTypesFilter"/>
	</select>
	
	<select id="getCategoryByPrefix" parameterType="Map" resultType="CategoryItem">
		SELECT 
			name, 
			type as typeName, 
			CONCAT('/',type, name) as fullCategory 
		FROM category 
		WHERE <include refid="accessTypesFilter"/>
		HAVING fullCategory REGEXP #{category.fullName} '*';
	</select>

	<select id="getAllCategories" parameterType="Map" resultType="CategoryItem">
		SELECT 
			name, 
			type as typeName 
		FROM category 
		WHERE <include refid="accessTypesFilter"/>
	</select>

	<insert id="setCategory" parameterType="CategoryItem">
		INSERT INTO category (name, type) VALUES (#{name}, #{typeName})
	</insert>
	
	<update id="renameCategory" parameterType="hashmap">
		UPDATE category 
		SET name = #{newName}
		WHERE type = #{typeName} AND name = #{name}
	</update>
	
	<delete id="deleteCategory" parameterType="CategoryItem">
		DELETE FROM category WHERE name = #{name} AND type = #{typeName}
	</delete>
		
</mapper>
