<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="database.UserMapper">

	<sql id="selectUser">
		SELECT 
			user.id AS user_id,
			user.name AS user_name,
			user.password AS user_password,
			user.level AS user_level,
			usertype.type AS user_type
		FROM user
		INNER JOIN usertype
			ON user.name = usertype.user
	</sql>
	
	<resultMap id="userItemResults" type="UserItem">
		<id property="name" column="user_name"/> 
		<result property="id" column="user_id"/> 		  		
  		<result property="password" column="user_password"/>   
  		<result property="level" column="user_level"/>    		 
  		<collection property="accessTypes" ofType="String"> 
    		<id column="user_type"/> 
  		</collection>  		  	
	</resultMap> 
	
	<select id="getAllUsers" resultMap="userItemResults">
		<include refid="selectUser"/>
	</select>
	
	<select id="getUser" parameterType="map" resultMap="userItemResults">
		<include refid="selectUser"/>
		WHERE user.name = #{name} AND user.password = #{password}
	</select>
	
	<select id="getUserByName" parameterType="String" resultMap="userItemResults">
		<include refid="selectUser"/>
		WHERE user.name = #{name} 
	</select>
		
	<insert id="insertUser" parameterType="UserItem">
		INSERT IGNORE INTO user (name, password, level) VALUES (#{name}, #{password}, #{level}) 	
	</insert>

	<update id="modifyUser" parameterType="UserItem">
		UPDATE user SET name = #{name}, password = #{password}, level = #{level}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteUser" parameterType="UserItem">
		DELETE FROM user WHERE id = #{id}
	</delete>
	
	<insert id="insertUserTypes" parameterType="Map">
		INSERT IGNORE INTO usertype (user, type) VALUES 
		<foreach item="type" index="i" collection="accessTypes" open="(" separator="),(" close=")">
			#{name}, #{type}
		</foreach>
	</insert>
	
	<delete id="deleteUserTypes" parameterType="UserItem">
		DELETE FROM usertype WHERE user = #{name}
	</delete>
	
</mapper>

